<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Steiner Space Travel</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        @* https://useiconic.com/open *@
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-image" aria-hidden="true"></span> Visualizer
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="generator">
                <span class="oi oi-file" aria-hidden="true"></span> Generator
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="how-to-use">
                <span class="oi oi-question-mark" aria-hidden="true"></span> How to use
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="licenses">
                <span class="oi oi-badge" aria-hidden="true"></span> Licenses
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
