@page "/generator"
@using SteinerSpaceTravel.Web.Services
@inject VisualizeService VisualizeService

<PageTitle>Generator</PageTitle>

<h1>Generator</h1>

<p role="status">Current count: @VisualizeService.Seed</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        VisualizeService.Seed++;
    }
}
