@page "/how-to-use"

<PageTitle>How to use</PageTitle>

<h1>How to use</h1>

<div class="explain-section">
    <h2>Visualizer</h2>
    基本的な使い方
    <ol>
        <li>Seedの値を変更することで、対応する入力がInput欄に反映されます。</li>
        <li>解答をOutput欄に入力するとジャッジが行われ、スコアとビジュアライズ結果が表示されます。</li>
    </ol>
    その他
    <ul>
        <li>Seedは符号なし64bit整数の範囲内としてください。</li>
        <li>Inputは手動で編集することも可能です。</li>
        <li>ビジュアライザ上の青い大きな円（<span class="earth">●</span>）は惑星1を、黄色い円（<span class="planet">●</span>）はその他の惑星を、灰色の正方形（<span class="station">■</span>）は宇宙ステーションを表します。</li>
        <li>経路上の各辺は辺上の移動に必要なエネルギーが小さければ黒く、大きければ赤く表示されます。</li>
        <li>Download imageボタンを押すことでビジュアライズ結果を保存することができます。</li>
        <li>Tweetボタンを押すと結果をTwitter上でシェアすることができます。画像は自動で添付されないため、手動での添付をお願いします。</li>
    </ul>
</div>

<div class="explain-section">
    <h2>Generator</h2>
    <ul>
        <li>Seedの範囲を指定してDownloadボタンを押すことで、各テストケースの入力ファイルをダウンロードできます。</li>
        <li>ダウンロードを中断したい場合はCancelボタンを押してください。</li>
    </ul>
</div>

<div class="explain-section">
    <h2>Disclaimer</h2>
    <ul>
        <li>本ビジュアライザはジャッジプログラムと同等の動作をするよう細心の注意を払っておりますが、結果の同一性については保証しません。</li>
        <li>本ビジュアライザを利用した結果生じた損害について、一切の責任を負いません。</li>
    </ul>
</div>

<div class="explain-section">
    <h2>Support</h2>
    <p>不明点・不具合等がありましたら、<a href="https://twitter.com/terry_u16" target="_blank" rel="noopener">@@terry_u16</a>までお問い合わせください。</p>
</div>
